* {
    padding: 0;
    margin: 0;
}

.dash-body {
    display: flex;
}

.dash-main {
    background-color: rgb(255,255,255);
    width: 100%;
    display: flex;
    flex-direction: column;
}
    
.dash-h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem ;
    }
    
.dash-head {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #66796b;
    width: 99.9%;
    height: 150px;
}
    
.user-info.user {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 99vh;
    background-color:#0d2510;
    border: 3px  #6c7e73 solid;
    border-radius: 10px;    
}
    
    
.user-info.extra {
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    display: flex;
    flex-direction: column;
}
    
    
.user-info.update {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15%;
    margin-top: 40px;
    gap: 20px;
}
    
    
#update-button {
    padding: 8px;
    background-color: #c7eed1;
    border: #c7eed1 solid 4px;
    border-radius: 6px;
    font-weight:bolder;
    width: 35%;
    align-self: center;
}

#logout {
    padding: 8px;
    background-color: #ebc25b;
    border: #ebc25b solid 4px;
    border-radius: 6px;
    font-weight:bolder;
    width: 35%;
    align-self: center;
}

#logout:hover {
    background-color: rgb(144, 64, 64);
    border: white solid 4px;
    color: white;
    transition: 200ms;
}    
    
#update-button:hover {
    background-color: #1a4124;
    border: #ffffff solid 4px;
    color: white;
    transition: 200ms;
    }
    
    
#user-photo {
    width: 30%;
    aspect-ratio: 177/128;
    }
    
.username {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px 10px;
    height: 90px;
    }
    
    
.username span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 15px;
    color:#ffffff;
}
    
    
.list-tasks {
    max-height: 600px; /* Ajusta esto al valor que necesites */
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    }
    
.task {
    align-self: center;
    padding: 10px 20px;
    background-color: #a6d4b8;
    word-wrap: break-word;
    width: 80%;
    height: 70px;
    gap: 6px;
    border: none;
    border-radius: 20px;
    }

.task p {
    color: rgb(54, 53, 53);
    font-weight: bold;
    white-space: nowrap;      /* Asegura que el texto se muestre en una sola línea */
    overflow: hidden;         /* Oculta cualquier contenido que pase del borde del contenedor */
    text-overflow: ellipsis;  /* Muestra puntos suspensivos al final del texto desbordado */
      
}

.task:hover {
    transition: 300ms;
    opacity: 0.8;
}

#formulario {
    display: none; /* Inicialmente oculto */
    position: fixed; /* O absolute, dependiendo de tu necesidad */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semi-transparente */
    z-index: 1000; /* Asegura que se muestre encima de otros elementos */
}
      
#update-info-form {
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1000; 
}

#task-menu {
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    z-index: 1000; 
}

.delete-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 15%;
    transform: translate(-50%, -50%);
    background-color: rgb(183 191 188);
    border-radius: 10px;
    gap: 20px;
}

#complete-task {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color:#1c553d ;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}

#complete-task:disabled, #complete-task:disabled:hover {
    background-color: rgb(156, 156, 156);
    color: white;
}

#delete-task {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    background-color:#772e2e ;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}

.form-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 45%;
    height: 60%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
}

.form-container-update {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 45%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
}

.form-info {
    width: 95%;
}

.form.update {
    background-color: rgb(57 123 167);
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.update-userinfo {
    background-color: #51667a;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 90%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    gap: 10px;
    border-radius: 20px;
}

.label {
    margin-bottom: 20px;
}

.update-userinfo label {
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.update-userinfo input {
    height: 25px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.update-userinfo input:focus {
    outline: solid rgb(71, 71, 71) 2px;
    
}

#send-userup {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color:#1c553d ;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}

#send-userup:hover, #complete-task:hover {
    background-color:#3dc28a ;
    color: rgb(0, 0, 0);
    font-size: 0.8rem;
}

.update-userinfo button {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color:#772e2e ;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.8rem;
}

.update-userinfo button:hover, #delete-task:hover {
    transition: 200ms;
    background-color: #ff0000;
}

.update-userinfo footer{
   height: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   margin-top: 20px;
}

.tinput  {
    height: 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px 10px;
}

.dinput {
    padding: 5px 10px;
    height: 80px;
    font-size: 1rem;
    border-radius: 15px;
}

.footer-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
    
#usertasks {
    background-color: rgb(31, 68, 46);
    color: white;
    font-size: 1.7rem;
    width: 99.5%;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid;
    border-radius: 6px;
    }
    
    
#add-task {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    border: white;
    border-radius: 6px ;
    background-color: #34495E;
    padding: 10px;
    font-size: 1.2rem;
    color: #FFFFFF;
    align-self: center;
}
    
    
#add-task:hover {
    transition: 200ms;
    border: black;
    background-color: black;
    color: white; 
}

#user-info-container {
    display: none;
}

#close-section {
    background-color: transparent;
    border: none;
    color: white;
    font-size: larger;
    margin-top: 30px;
    display: none;
}

/* Estilos para pantallas de maximo 600px de ancho*/
@media screen and (max-width: 600px) {
    #user-info-container {
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: #0d2510;
        width: 100vw;
        height: 10%;
    }

    .user-info.user {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%; /* o el porcentaje que prefieras */
        height: 100%;
        top: 0;
        left: 0;
        overflow-y: auto;
        background-color: rgb(43, 80, 43); /* o cualquier otro color de fondo */
        z-index: 100;/* Asegúrate de que sea mayor que el resto de elementos */
    }

    .username {
        justify-content: center;
        flex-direction: column;
        gap: 0;
    }  

    .user-info.extra {
        align-items: center;
    }

    .user-info.extra input {
        margin-bottom: 20px;
        width: 60%;
    }

    .hamburger-menu {
        display: flex; /* El botón hamburguesa es visible en pantallas pequeñas */
        background-color: #0d2510;
        font-size: larger;
        border: none;
        color: white;
        top: 0;
        left: 0;
        z-index: 101;
        justify-self: center;
        align-self: center; /* Debe estar encima de la sección de usuario cuando esté visible */
    }

    .update-userinfo {
        width: 100%;
    }

    .form-container-update{
        width: 60%;
    }

    .form-container {
        width: 80%;
    }

    .tinput {
        font-size: 1rem;
        height: 20px;
    }

    .delete-container {
        width: 70%;
    }
}

@media screen and (max-height: 750px) {
    .form-container-update {
        height: 55%;
    }
}